#Terms .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#Terms article {
    margin: 15px;
    text-align: center;
}

#Terms img {
    width: 100%;
    max-width: 600px;
    margin: 5% 0;
}

#Terms h3 {
text-align: center;
background: #01589b;
border-radius: 24px;
color: #FFFFFF;
margin-bottom: 15px;
}

#Terms p {
    text-align: justify;
}

#Terms li {
    text-align: justify;
    list-style-position: outside;
    padding: 0 1.5%;
}